body {
    scroll-behavior: smooth;

}

#navbarID {
    background-color: white;
    position: fixed;
    top: -50px;
    width: 100%;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1) !important;
    transition: top 0.3s;
    z-index: 10;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 1.1rem !important;
}



#navbarID a:hover {

    color: skyblue;
}

h4 {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 25px;
}

h2 {
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 700;
    line-height: 38px;
    color: white;
}

p {
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    display: block;

    line-height: 23px;
    font-weight: 400;
}

.headTitle {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 14pt;
    margin-top: 20px;
}


.about-container {

    display: flex;
    font-size: 30px;
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;

}

.about-flex-item-left {
    flex: 40%;
    margin-top: 5%;

}

.about-flex-item-right {
    flex: 60%;
    margin: 5%;
    padding-left: 5%;
    padding-right: 2%;

}

.aboutImage {
    width: 450px;
    height: 450px;
    position: relative;
    -webkit-animation: glide 2s ease-in-out alternate infinite;
}

.cups{
    width: 400px;
    position: relative;
    -webkit-animation: glide 2s ease-in-out alternate infinite;

}


.skill-container {

    display: flex;
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;
    flex-wrap: wrap;
}

.section-header {
    display: block;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 1.9rem;
    font-weight: 700;
    text-align: center;
    margin: 3% 0% 1% 0%;
}

@-webkit-keyframes glide {
    from {
        left: 0px;
        top: 0px;
    }

    to {
        left: 0px;
        top: 20px;
    }

}

.divBG {
    height: 450px;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.skill-flex-item {
    flex: 50%;
    padding: 3%;
}




.skill-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}



.aboutText {

    font-family: 'Manrope', sans-serif;
    font-size: 13pt;
    text-align: left;
}

#chips {
    color: black;
    background-color: #F5F3F0;
    font-size: 10pt;
    font-weight: lighter;
}


#cardItem h3 {
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 25px;
}

#cardItem p {
    font-size: 0.8rem;
    font-weight: 400;
}

.buttonCard {
    font-family: 'Manrope', sans-serif;
    font-size: 0.8rem !important;
    font-weight: 400 !important;
    text-decoration: none;
    color: white;
    
    background-color: #0586ca;
}

.buttonCard:hover{
    background-color: #0847A0;
    color: white;
}

.footerLinks{
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 25px;
    color: whitesmoke;
}

.footerLinks.hover{
    text-decoration: none;
}

.animateHover img:hover{
    transform: rotate(-10deg);
}

.animateHover a:hover{
    color:rgb(255, 242, 217);
}



@media only screen and (max-width: 1300px) {


    .skill-flex-item {
        flex: 100%;
    }
}


@media only screen and (max-width: 850px) {

    .about-container {
        flex-direction: column-reverse;
        margin: 10%;
    }

    .skill-container {
        margin: 5%;
    }

    .about-flex-item-left {
        margin: 2%;
    }

    #navbarID {
        display: none;
    }

    .aboutImage{
        margin-top: 20px;
    }

    

}


@media only screen and (max-width: 350px) {

    .divBG{
        width: 250px;
        height: 250px;
    }

    .cups{
        width: 300px;
    }
    

}

